body{
    font-family: 'Ubuntu', sans-serif;
}
#title{
  color: #fff;
  background-color: #ff4c68;

}

.container-fluid{
  padding: 3% 15% 7%;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.7rem;
  font-weight: bold;
  line-height: 1.5;

}

h3{
  font-family: 'Montserrat',sans-serif;
  font-weight: bold;
}

p{
  color: #8f8f8f;
}

/* navbar */

.navbar{
  padding: 0 0 3rem;
}
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.nav-item{
padding: 0 1.5rem ;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Ubuntu-Light';
}

/* download button */

.download-button{
  margin: 5% 3% 5% 0;
}

/* title-image */

.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

@media (max-width: 1028px)  {
   #title {
     text-align: center;
   }
  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* feature section */
#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.features-box{
  text-align: center;
  padding: 5%;
}

.icon{
  margin-bottom: 5%;
  color: #ef8172;
}

.icon:hover{
  color: #ff4c68;
}

/* Testimonial Section */

#testimonials{

  color: #fff;
  background-color: #ef8172;
  text-align: center;
}

.testimonials-image{
  width: 12%;
  margin: 20px;
  border-radius: 100%;
}

.carousel-item{
  padding: 7% 15%;
}

/* press section */

#press{
  background-color: #ef8172;
  text-align: center;
}

.press-logo{
  width: 15%;
  margin-bottom: 40px;
}

/* pricing section */

#pricing {
  text-align: center;
  padding: 100px;
}

.pricing-coloumn {
  padding: 3% 2%
}

.btn-paddings {
  text-align: center;
  width: 94%;
  margin: 2% 3%;
}


/* call to action */

#cta {
  background-color:  #ff4c68;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading {
  font-family: 'Montserrats', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  color: #fff;
}

.btn-sizing{
  margin: 15px 7px;
}


/* footer section */

#footer {
   padding: 5% 10%;
   text-align: center;
   margin: 10px 15px;
}

.icon-spacing {
  margin: 2px;
}
